.day-schedule  {
background-color: aqua;
}
.row-empty{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    background-color: #e0f7fa;
    border: 1px solid #b2ebf2;
    border-radius: 4px;
    margin-bottom: 4px;
}