.day-schedule  {
background-color: rgb(228, 238, 238);
}
.day-schedule {
    background-color: lightgreen;
}
.row-empty{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    background-color: #e0f7fa;
    border: 1px solid #b2ebf2;
    border-radius: 4px;
    margin-bottom: 4px;
}
.left{
    display: inherit;
    align-items: center;
}
.class-info{
    display: flex;
    flex-direction: column;
}
.left input{
    margin-right: .5rem;
}
.rayita-verde{
    color: green;
    font-size: .3rem;
    line-height: 0;
}