/* src/components/DayView.css */
.day-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .6rem 0;
  border-bottom: 1px solid #eee;
}
.day-row.pasada {
  opacity: 0.6;
  background-color: #f5f5f5;
  border-left: 4px solid #aaa;
}



.student { font-weight: 500; }
.circuit { font-size: .85rem; color: #777; }

.edit-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  margin-right: .5rem;
}

.time-badge {
  background: #000;
  color: #fff;
  padding: .25rem .6rem;
  border-radius: 12px;
  font-size: .8rem;
}
.empty-msg { color:#777; }

.time-badge-empty {
  background: #ccc;
  color: #333;
  padding: .25rem .6rem;
  border-radius: 12px;
  font-size: .8rem;
}
.empty-slot {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.filtros-dia{
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}
.ocupadas {
  color: white;
  margin-left: 1rem;
  font-size: .9rem;
  font-weight: 600;
border-radius: 100%;
background-color:rgb(241, 110, 110);
padding: 5px;
}
.disponibles {
  color: white;
  margin-left: 1rem;
  font-size: .9rem;
  font-weight: 600;
  background-color: rgb(32, 178, 32);
  border-radius: 100%;
  padding: 5px;
}