/* src/components/WeekView.css */
.week-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 1rem;
}

.day-col {
  padding: .5rem;
  border: 1px solid #ddd;
  border-radius: 6px;
  cursor: pointer;
}
.day-col.pasada {
  opacity: 0.6;
  background-color: #f5f5f5;
  border-left: 4px solid #aaa;
}

.day-col:hover {
  background: #000;
  color: #fff;
}

.day-header {
  display: flex;
  flex-direction: column;
 justify-content: center;
    align-items: center;
    gap: .2rem;
  font-weight: 600;
  margin-bottom: .5rem;
  background-color: rgb(245, 245, 245);
}



/* layout dentro de cada clase mini */

.row-mini {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #eee;
  padding-top: .4rem;
  margin-top: .4rem;
  font-size: .8rem;
}
.row-mini-right {
  display: flex;
  flex-wrap: nowrap;
  gap: 0;
}
.row-mini-left {
  display: flex;
  gap: .2rem;
}


/*.row-free {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    background-color: #e0f7fa;
    border: 1px solid #b2ebf2;
    border-radius: 4px;
    margin-bottom: 4px;
}*/
.row-free{
    width: 60%;
    height: 0px;
    border: 1px solid rgb(180, 221, 180);
    margin-bottom: 5px;
}


.mini-top {
  display: flex;
  justify-content: space-between;
}

.mini-student { font-size: .75rem; }

.no-class { font-size: .75rem; color:#777; }

.nodictada{
  visibility: hidden;
}
